html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
a:hover{
    color:maroon;
}

.landing-page {
    padding: 100px 20px;
    background-color: darkolivegreen;
    color: white;
    min-height: 80vh;
}

    .landing-page h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .landing-page p {
        font-size: 1.2em;
        margin-bottom: 30px;
    }

    .landing-page .btn {
        font-size: 1.2em;
        padding: 10px 30px;
    }


.privacy-page {
    background-color: #f8f9fa;
    color: #333;
    border-radius: 8px;
    padding: 40px;
    margin: 40px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

    .privacy-page h2 {
        margin-bottom: 20px;
    }

    .privacy-page p {
        font-size: 1.1em;
        line-height: 1.6;
    }
