@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="landing-page text-center">
    <h1>Welcome to our Site!</h1>
    <p>Explore our membership app!</p>
    <a class="btn btn-outline-success mt-4" asp-page="/Memberships/Index">View More Information</a>
</div>

