@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy-page container py-5">
    <h2>Privacy Policy</h2>
    <p>Your privacy is important to us. We do not sell your information to others!</p>
</div>

